
/*
#vertical_menu_zone
{
	height:90vh;
	border: 1px solid #26B7D4;
	border-radius: 10px;
}
*/
/*

#workplace
{
	height:90vh;
	border: 1px solid #26B7D4;
	border-radius: 10px;
	width:80%;
}
*/


#draw_zone
{
	border: 1px solid #26B7D4;
	border-radius: 10px;

}



