
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.img-responsive{
	width:70%;
	margin-left: auto;
    margin-right: auto
}

footer {
    margin: 30px 0;
}

iframe{
	
	 height: 80vh;
	 width: 100%;
}

#header_item {
   border-radius: 3%;
   border-style: solid;
   border-width: 1px;
}


#update_date {
  

   border-width: 1px;
   text-align:center;
}

#photo_profil {

   border-radius: 4%;

}









.row{
	border: 1px solid #26B7D4;
	border-radius: 10px;	
}
[class*="col-"] {
 border: 1px solid #26B7D4;
	border-radius: 10px;
}
*/