<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">About this site
               
            </h1>
			<ol class="breadcrumb">
				<li><a href="#/">Home</a> </li>
				<li class="active">About</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2">
			<div class="row"> <img class="img-responsive" src="medias/about.png"> </img>
			</div>
		</div>
		<div class="col-lg-10 col-md-10">
			<div class="row">
				<h4 class="page-header">Purpose & Tech <small>This site is dedicated to create a portfolio to extend my CV. Now it's a Single Web Application based on angulor, which contains or redirect to other stuff i will do.</small></h4>
				<div class="col-sm-6">
					<div class="panel panel-default text-center">
						<div class="panel-heading"> <strong>Client-side</strong> </div>
						<ul class="list-group">
							<li class="list-group-item">html5/css3/javascript</li>
							<li class="list-group-item">Angular JS 1.4.8</li>
							<li class="list-group-item">Bootstrap 3.2.0</li>
							<li class="list-group-item">d3.js (not yet but very soon )</li>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default text-center">
						<div class="panel-heading"> <strong>Serveur-side</strong> </div>
						<ul class="list-group">
							<li class="list-group-item">Apache</li>
							<li class="list-group-item">REST (not yet but very soon )</li>
							<li class="list-group-item">PHP5 (not yet but very soon )</li>
							<li class="list-group-item">MySQL (not yet but very soon)</li>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	
	<a href="medias/v3_0.zip"> <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> </a>
	</div>
	
</div>
</div>