<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Contact
               
            </h1>
			<ol class="breadcrumb">
				<li><a href="#/">Home</a> </li>
				<li class="active">Contact</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h4>Gerstein Liam</h4>
			<h5>Ingénieur IT avec CFC en électronique</h5>
			<p> Chemin St-Paul 22</br> ,2503 Bienne, Suisse</br>
			</p>
			<p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (+41) 78 675 31 34 </p>
			<p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">liam.gerstein@gmail.com</a>
			</p>
		</div>
	</div>
</div>