<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Passions et Loisirs
               
            </h1>
			<ol class="breadcrumb">
				<li><a href="#/">Home</a> </li>
				<li class="active">Passions et Loisirs</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2">
			<div class="row"> <img class="img-responsive" src="medias/about.png"> </img>
			</div>
		</div>
		<div class="col-lg-10 col-md-10">
			<div class="row">
				<h4 class="page-header">Ojectifs & compétences <small>Ce site est un complément au CV et à donc d'une part pour objectif de démontrer les compétences énumérés sur CV. J'ai commencé à le développement récemment par conséquent son contenu est imcomplet.A l'avenir je souhaite y intégrer de petites application/fonctionnalités représentive de mes compétences.
Vous pourrez y trouver prochainement de petites applications Web, mon projet Web actuelle (Uspot), des applications hybride Web et embarqués.
</small></h4>
	</div>
	
	
	
	
	
	
	     <div class="row">
         <h4>Mes passions et loisirs</h4>
         
         <br>
      </div>
	
	
	
	
	
	<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-default text-center">
						<div class="panel-heading"> <strong>Passions</strong> </div>
						<ul class="list-group">
							<li class="list-group-item">La science, la technologie</li>
							<li class="list-group-item">Les helicoptères et les nouveaux engins volants</li>
							<li class="list-group-item">La musique</li>
							
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default text-center">
						<div class="panel-heading"> <strong>Loisirs</strong> </div>
						<ul class="list-group">
							<li class="list-group-item">Guitare</li>
							<li class="list-group-item">Voyage</li>
							<li class="list-group-item">La boxe</li>
					
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			
			  <div class="row">
         <h4>Voyage</h4>
         
         <br>
      </div>
	
	
	
	
	
	<div class="row">
	
	
				<h5 >Thailande & Laos 2016 [4 mois]</h5 >
			Bon j'aime pas les photos,et on m'a un peu forcer a faire celle-la, ce qui explique ma position et ma boude.La thailande était vraiment un de mes beaux voyage, on y rencontre facilement du monde.

       <img class="img-responsive" src="medias/hobbys/thailande.jpg"> </img>
			

			
			</div>
			
			
			
		
			
			
			
			
			
			
			
			
			
		</div>
	</div>
	<div class="row">
	
	<a href="medias/v3_0.zip"> <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> </a>
	</div>
	
</div>
</div>