<!--   
Angular JS avec d3.js

But: Créer un cercle a chaque click



-->
 <!DOCTYPE html>
<html>
<head>
    <script src="lib/d3/d3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	  <script src="svg_controller.js"></script>
</head>
<body>
	<div ng-app="myApp" >
		<div ng-controller="SVG_Ctrl">
			<form>
				<input type="number" min="0" ng-model="height" size="20" />
				 <button ng-click="myFunction()">Click Me!</button>
				<p>{{ count }}</p>
				<br/>
			</form>    
		</div>
		<div id="draw_zone" ></div>
	</div>

	
</body>
</html>



