<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Web Skills
                <small>Skills & Notions</small>
            </h1>
			<ol class="breadcrumb">
				<li><a href="#/">Home</a> </li>
				<li class="active">Skills</li>
			</ol>
		</div>
	</div>
	
	  <div class="row">
         <div class="col-sm-3">
            <div class="panel panel-default text-center">
               <div class="panel-heading"> <a href="https://www.roboticsforgood.ae/finals/dome-project"><strong>Système & réseau</strong></a> </div>
               <ul class="list-group">
                  <li class="list-group-item">Mise en place des systèmes d'informations[ serveur+base de donnée]</li>
                  <li class="list-group-item">Analyse & résolution de problèmes réseau et systèmes</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="panel panel-default text-center">
               <div class="panel-heading"> <a href=""><strong>Outils&méthodes de développement et de collaboration</strong></a> </div>
               <ul class="list-group">
				<li class="list-group-item">Méthode Agile</li>
                  <li class="list-group-item">GIT</li>
				  <li class="list-group-item">Atlassian[ JIRA,Bitbucket, Confluence</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="panel panel-default text-center">
               <div class="panel-heading"> <a href=""><strong>Langages & Framwork Web</strong></a> </div>
               <ul class="list-group">
				  <li class="list-group-item">Une solide expérience des application Web de type Single Page (SPA)</li>
                  <li class="list-group-item">HTML, CSS, Javascript,PHP, MySQL</li>
                  <li class="list-group-item">Java web: Servlet et JSP</li>
				  <li class="list-group-item">Framework Angular & Bootstrap</li>
				  <li class="list-group-item">D3js, googleMAP, google Chart, JSON</li>
               </ul>
            </div>
         </div>
		<div class="col-sm-3">
		<div class="panel panel-default text-center">
		   <div class="panel-heading"> <a href=""><strong>Design & expérience utilisateur</strong></a> </div>
		   <ul class="list-group">
			  <li class="list-group-item">Analyse et conception d'interface offrant une forte expérience utilisateur</li>
			  <li class="list-group-item">Sensibilité artistique couplé au design rules</li>
			  <li class="list-group-item">Aime dessiner</li>
		   </ul>
		</div>
	 </div>
      </div>
</div>