<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class=" glyphicon glyphicon-th-list" aria-hidden="true"></span> </button> <a class="navbar-brand" href="#/">Gerstein Liam</a> 
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Web <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/web/skills">Compétences</a> </li>
						<li><a href="#/web/this">Projet personnel: Ce site</a> </li>
						<li><a href="#/web/uspot">Projet personnel: Uspot</a> </li>
	
						<li><a href="#/web/ims_tv">Projet de semestre 5 Bachelor: IMS-TV</a> </li>
						<li><a href="#/web/beemon">Projet de semestre 6 & Diplôme Bachelor: Beehives monitoring</a> </li>
						<li><a href="#/web/angular_littlestory">Petite app:Une histoire commence</a> </li>
						<li><a href="#/web/ds3_logicalgate">Petite app: Simulation portes logiques</a> </li>
					
						
					</ul>
				</li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Réseaux<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/ip/skills">Compétences</a> </li>
						<li><a href="#/ip/enterprise_network">NETWORK BUILDING Bachelor project</a> </li>
					</ul>
				</li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Electronique / Embarqué<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/embedded/skills">Compétences</a> </li>
						<li><a href="#/embedded/remote_car">Digger projet 3: Nouveau radio modem</a> </li>
						<li><a href="#/embedded/remote_car">Digger projet 2: Nouvelle télécommandes</a> </li>
						<li><a href="#/embedded/beemon">Projet de semestre 6 & Diplôme Bachelor: Beehives monitoring</a> </li>
						<li><a href="#/electronic/remote_car">Projet CFC: Voiture télécommandée</a> </li>
					</ul>
				</li>
				
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Autres<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/embedded/skills">Compétences</a> </li>
						<li><a href="#/embedded/remote_car">Digger projet 1: Maquettes "cabine dome"</a> </li>
					</ul>
				</li>
			    <li><a href="#/hobbys">Passions et hobbys</a> </li>
				<li><a href="#/ce_site">Ce site</a> </li>
				<li>
					<a href="#/contact"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </a>
				</li>
			</ul>
		</div>
	</div>
</nav>