

<div class="container">
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Petites applications Webs
      </h1>
      <ol class="breadcrumb">
         <li><a href="#/">Home</a> </li>
         <li class="active">Petites applications Webs</li>
      </ol>
   </div>
</div>



<div class="row">
   <div class="col-lg-2 col-md-2">
      <img class="img-responsive" src="medias/techs/d3js_logo.png"> </img>
   </div>
   <div class="col-lg-10 col-md-10">
      <div class="row">
         <h3>Objectifs</h3>
         Prendre en main la librairie D3.JS dans un controller Angular ne créant une petite appli de simulation de porte logique. A l'avenir j'aimerai reprendre le projet de Bachelor
         " Beemon" afin d'y intégrer les dernières technologie: Angular, D3 ( et me passer de la libraire Google Chart), node.js ( pour remplacer PHP).
      </div>
      <div class="row">
         
		 
		 <div ng-controller="MapController">
    <div id="map"></div>
    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
         <label id="names" >{{marker.title}}</label></a>
    </div>
</div>
		 
		 
		 
		 
		 
      </div>
   </div>
</div>