<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Objectifs et parcours
        <small>Objectifs & Postes & Formations</small>
      </h1>
      <ol class="breadcrumb">
        <li>Home </li>
        <li class="active">Parcours et objectifs</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2"> <img class="img-responsive" src="medias/myphoto.jpg"> </img>
    </div>
    <div class="col-lg-10 col-md-10">
      <div class="row">
        <h3>Objectifs</h3>
        Je souhaiterai exercer des postes flexibles me permettant de continuer à apprendre , tout en me spécialisant soit en développement WEB ou en électronique embarqués. 
      </div>
      <div class="row">
	  
	 
        <h3>Diplômes</h3>
		
		
		       </div>
		<div class="row">
		
		      <p>Afficher CV
                <input type="checkbox" ng-model="cv_check">
            </p>
			 <p>Afficher diplômes et certicats
                <input type="checkbox" ng-model="dc_check">
            </p>
            <div ng-show="cv_check">

                <object data="medias/cv.pdf" type="application/pdf" id="pdfview">
                    <embed src="medias/cv.pdf" type="application/pdf" />
                </object>
            </div>
			<div ng-show="dc_check">

                <object data="medias/dc.pdf" type="application/pdf" id="pdfview">
                    <embed src="medias/dc.pdf" type="application/pdf" />
                </object>
            </div>
		</div>
		
		
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://orientation.ch/dyn/show/1900?lang=fr&id=94#"><strong>CFC Electronicien</strong></a> </div>
            <ul class="list-group">
              <li class="list-group-item">Processus de production</li>
              <li class="list-group-item">Conception de proto et de PCB</li>
              <li class="list-group-item">Conception de systèmes embarqués</li>
			   <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Travail de CFC: Remote CAR</strong> </a> </li>
              
            </ul>
          </div>
        </div>
		 <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://orientation.ch/dyn/show/1900?lang=fr&id=94#"><strong>Maturité technique</strong></a> </div>
            <ul class="list-group">
              <li class="list-group-item">Culture générale</li>
			  <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Création d'entreprise: CleverBag</strong></a> </li>
              
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Bachelor IT</strong></a> </div>
            <ul class="list-group">
              <li class="list-group-item">Mathématique et physique des signaux</li>
              <li class="list-group-item">Réseaux de télécommunication</li>
              <li class="list-group-item">Systèmes embarqués</li>
              <li class="list-group-item">Développement Web et mobile  </li>
              <li class="list-group-item">Sécurité informatique  </li>
              <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Travail semestre & de Bachelor: BEEMON</strong></a> </li>
            
            </ul>
          </div>
 

      </div>
      <div class="row">
        <h3>Parcours</h3>
        <div class="col-lg-12 col-md-12">
          <h4><B>2016-Actuellement chez Digger : Ingénieur en systèmes embarqués </B></h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-md-3"><img class="img-responsive" src="medias/Digger/dïgger_dtr.jpg"> </img></div>
        <div class="col-lg-9 col-md-9"> La <a href="https://www.digger.ch">Fondation Digger</a>  est une organisation à but non lucratif, reconnue d’utilité publique en Suisse. Elle est spécialisée dans les technologies de déminages humanitaire. Elle a fait récemment parler d'elle en participant au concours internal <a href="https://www.roboticsforgood.ae/finals/dome-project"> "Robotics for goods"</a> ,dédié aux technologies humanitaires et qui à été organisée à Dubai, ou elle à présentée le projet "Dome" </img></div>
      </div>
      <div class="row">
        <h4>Réalisations</h4>
        J'ai eu la chance, et l'est encore, de pouvoir  développer des produits me permettant de toucher plusieurs domaines comme la mécaniques, l'impression 3D, la conception de circuit électroniques et de leurs PCB, à la programmation.
        En tant qu'ingénieur en systèmes embarqués mes activités principales consistes à développer des circuits électroniques avec software embarqués, mais chez Digger on arrête pas d'apprendre de nouvelles chances. J'ai eu l'occasion de concevoir la maquette de concept "cabine" pour le projet "DOME" qui figure dans la vidéo qui nous a permit de concourir à Dubai.
        En autre j'ai développer le hardware de la nouvelles télécommandes, le hardware et le software du radio modem équipant les machines de déminages. La communication au sein de la machine utilise du <strong>CAN BUS (J1939)</strong>, par conséquent j'ai intégré dans le nouveau radio modem un module d'interface SPI-CAN. Le software est codé en python
        <br>
      </div>
      <div class="row">
        <h4>Résumés réalisations</h4>
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://www.roboticsforgood.ae/finals/dome-project"><strong>Maquette Dome</strong></a> </div>
            <ul class="list-group">
              <li class="list-group-item">Concepts: dessin, schéma</li>
              <li class="list-group-item">Impression 3D</li>
              <li class="list-group-item">Mécanique</li>
              <li class="list-group-item">Un peu d'électronique</li>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href=""><strong>Télécommande RMT300</strong></a> </div>
            <ul class="list-group">
              <li class="list-group-item">Conception PCB sous Altium</li>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading"><a href=""><strong>Radio Modem RAD300</strong></a>   </div>
            <ul class="list-group">
              <li class="list-group-item">Prototype extension CAN</li>
              <li class="list-group-item">Conception PCB sous Altium</li>
              <li class="list-group-item">Programmation logiciel embarqué en Python</li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>