<div class="row">
    <h4><B>2007 travail de CFCd en électronique à LTSI de St-Imier:</B> Voiture télécommandé</h4>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3" ng-init="remotecar = 'medias/cfc/remotecar.jpg'"><img class="img-responsive" ng-src="{{remotecar}}"> </img></div>
   <div class="col-lg-9 col-md-9">
      <div class="row">
        trhailande de manière à pouvoir être utiliser par des scientifiques afin qu’ils puissent mieux comprendre le phénomène d’effondrement des colonies d’abeilles à travers le monde,
         et d’être également utiliser par les apicultures afin d’optimiser les processus de production.
      </div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
               <li>
                  <p>Outils et compétences  <input type="checkbox" ng-model="ip_project_toolandskills"></p>
               </li>
			    <li>
                  <p>Réalisation  <input type="checkbox" ng-model="ip_project_realisation"></p>
               </li>
              
            </ul>
         </div>
         <div class="col-lg-6 col-md-6">
          
	
         </div>
      </div>
   </div>
</div>
<div ng-show="ip_project_toolandskills">
   <div class="row">
      <h4>Outils et compétences</h4>
      
       
     
   </div>
</div>

<div ng-show="ip_project_realisation">
   <div class="row">
    
       <h4>Réalisations</h4>
      Le système était décomposé en 3 sous systèmes qui assuraient respectivement de collecter des mesures sur les ruches, de les transmettres via Bluetooth Low Energy à un un noeud intermédiaire qui s'occuper de relier l'exploitation à un serveur distant grâce au GSM/GPRS, et de fournir à l'utilisateur une interface Web pour la consultation des mesures et la configuration des systèmes. La communication était bi-directionnel.
      <br>
   
	  
	  
	  <img class="img-responsive" src="medias/cfc/schema_bloc.jpg"> </img>
    
	   
	 
     
   </div>
</div>
