<div class="row">
   <h4><B>2016-Actuellement chez Digger : </B> Ingénieur en systèmes embarqués</h4>
</div>
<div class="row">
   
    <div class="col-lg-3 col-md-3" ng-init="digger_logo = 'medias/digger/digger_logo.jpg'">
		<img class="img-responsive"  ng-src="{{digger_logo}}"> </img>
	</div>
   
  
   
   <div class="col-lg-9 col-md-9">
      <div class="row">
         La <a href="https://www.digger.ch">Fondation Digger</a>  est une organisation à but non lucratif, reconnue d’utilité publique en Suisse. Elle est spécialisée dans les technologies de déminages humanitaire. Elle a fait récemment parler d'elle en participant au concours internal <a href="https://www.roboticsforgood.ae/finals/dome-project"> "Robotics for goods"</a> ,dédié aux technologies humanitaires et qui à été organisée à Dubai, ou elle à présentée le projet "Dome" .
      </div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
               <li>
                  <p>Lettre de recommandation <input type="checkbox" ng-model="digger_recommandation_check"></p>
               </li>
               <li>
                  <p>Compétences utilisés <input type="checkbox" ng-model="digger_outils"></p>
               </li>
               <li>
                  <p>Réalisations <input type="checkbox" ng-model="digger_projets_check"></p>
               </li>
            </ul>
         </div>
         <div class="col-lg-6 col-md-6">
            <div ng-show="digger_recommandation_check">
               <ul>
                  <li>Thomas Dalla Piazza:      tdallapiazza@digger.ch</br></li>
                  <li>Frederic Guerne:  +41 32 481 11 02  fguerne@digger.ch</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div ng-show="digger_recommandation_check">
   <div class="row">
      <object data="medias/dossier_candidature/lettre_recommandation_digger.pdf" type="application/pdf" id="pdfview">
         <embed src="medias/dossier_candidature/lettre_recommandation_digger.pdf" type="application/pdf" />
      </object>
   </div>
</div>
<div ng-show="digger_outils">
   <div class="row">
      <div class="col-sm-">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>Outils de collaboration et développement</strong> </div>
            <ul class="list-group">
               <li class="list-group-item">GIT</li>
               <li class="list-group-item">Atlassian [JIRA, BITBUCKET, CONFLUENCE]</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>Dévelloppement 3D</strong></div>
            <ul class="list-group">
               <li class="list-group-item">Autodesk:Conception mécanique 3D </li>
               <li class="list-group-item">Processus et outils pour imprimer en 3D</li>
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/autodesk.jpg"> </img></li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>Développement électronique</strong> </div>
            <ul class="list-group">
               <li class="list-group-item">Altium Designer</li>
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/altium.png"> </img></li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>Développement logiciel embarqué</strong></div>
            <ul class="list-group">
               <li class="list-group-item">Atmel Studio [langage C sur cible Atmega128]</li>
               <li class="list-group-item">Synapse portal[langage python sur cible Atmega128]</li>
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/atmel.png"> </img></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div ng-show="digger_projets_check">
   <div class="row">
      <h4>Réalisations</h4>
      J'ai eu la chance, et l'est encore, de pouvoir  développer des produits me permettant de toucher plusieurs domaines comme la mécaniques, l'impression 3D, la conception de circuit électroniques et de leurs PCB, à la programmation.
      En tant qu'ingénieur en systèmes embarqués mes activités principales consistes à développer des circuits électroniques avec software embarqués, mais chez Digger on arrête pas d'apprendre de nouvelles chances. J'ai eu l'occasion de concevoir la maquette de concept "cabine" pour le projet "DOME" qui figure dans la vidéo qui nous a permit de concourir à Dubai.
      En autre j'ai développer le hardware de la nouvelles télécommandes, le hardware et le software du radio modem équipant les machines de déminages. La communication au sein de la machine utilise du <strong>CAN BUS (J1939)</strong>, par conséquent j'ai intégré dans le nouveau radio modem un module d'interface SPI-CAN. Le software est codé en python
      <br>
   </div>
   <div class="row">
      <h4>Résumés réalisations</h4>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://www.roboticsforgood.ae/finals/dome-project"><strong>1: Prototype maquette Dome</strong></a> </div>
            <ul class="list-group">
               <li class="list-group-item">Prototype de la station de pilotage</li>
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/dome_module_pilotage.jpg"> </img></li>
               <li class="list-group-item">Prototype de la caméra embarqué</li>
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/dome_module_camera.jpg"> </img></li>
			   <li class="list-group-item">Conception et réalisation mécanique</li>
			   <li class="list-group-item">Un peu d'électronique</li>
               <li class="list-group-item">Esquisse de conception 3D sur Autodesk Inventor</li>
               <li class="list-group-item">Fabrication de pièces prototype en impression 3D</li>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>2: Télécommande (RMT300)</strong> </div>
            <ul class="list-group">
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/rmt300_top.jpg"> </img></li>
               <li class="list-group-item">Recherche matériel pour nouvelle télécommande</li>
               <li class="list-group-item">Conception PCB sous Altium Designer</li>
               <li class="list-group-item">Commande matériel, montage, test du circuit</li>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"><strong>3: Module radio (RAD300)</strong>  </div>
            <ul class="list-group">
               <li class="list-group-item"><img class="img-responsive" src="medias/Digger/rad300_top.jpg"> </img></li>
               <li class="list-group-item">Ajout d'un module CAN Bus selon la norme SAEj1939 interfacé en SPI</li>
               <li class="list-group-item">Prototype de l'extension et validation du matériel utilisé</li>
               <li class="list-group-item">Conception PCB sous Altium Designer</li>
               <li class="list-group-item">Commande matériel, montage, test du circuit</li>
               <li class="list-group-item">Programmation sur microcontrolleur Atmel en langage C et Python</li>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>