<div class="row">
  <h3>Objectifs</h3>
  
   <p>  Je souhaiterai exercer un poste me permettant de continuer à apprendre et d'exercer indépendemment ou conjointement ces deux compétences: </p>

  
  
  
      <ul>
               <li>
                  <p>Développement Web</p>
               </li>
               <li>
                 <p>Développement embarqué</p>
               </li>
              
            </ul>

  
  
</div>
<div class="row">
  <h3>Diplômes</h3>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading"> <a href="https://orientation.ch/dyn/show/1900?lang=fr&id=94#"><strong>CFC Electronicien [LTSI St-Imier]</strong></a> </div>
      <ul class="list-group">
        <li class="list-group-item">Processus de production</li>
        <li class="list-group-item">Conception de proto et de PCB</li>
        <li class="list-group-item">Conception de systèmes embarqués</li>
        <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Travail de CFC: Remote CAR</strong> </a> </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading"> <a href="https://orientation.ch/dyn/show/1900?lang=fr&id=94#"><strong>Maturité technique [EPAM Moutier]</strong></a> </div>
      <ul class="list-group">
        <li class="list-group-item">Culture générale</li>
        <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Création d'entreprise: CleverBag</strong></a> </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading"> <a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Bachelor IT [HES-SO Fribourg]</strong></a> </div>
      <ul class="list-group">
        <li class="list-group-item">Mathématique et physique des signaux</li>
        <li class="list-group-item">Réseaux de télécommunication</li>
        <li class="list-group-item">Systèmes embarqués</li>
        <li class="list-group-item">Développement Web et mobile  </li>
        <li class="list-group-item">Sécurité informatique  </li>
        <li class="list-group-item"><a href="https://www.heia-fr.ch/fr/etudes/bachelor/telecommunications/formation/plans-etudes"><strong>Travail semestre & de Bachelor: BEEMON</strong></a> </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">


     <ul>
               <li>
                  <p>Afficher CV <input type="checkbox" ng-model="cv_check"></p>
               </li>
               <li>
                 <p>Diplômes et certicats <input type="checkbox" ng-model="dc_check"></p>
               </li>
              
            </ul>







  
  <div ng-show="cv_check">
    <object data="medias/CV_Gerstein Liam.pdf" type="application/pdf" id="pdfview">
      <embed src="medias/CV_Gerstein Liam.pdf" type="application/pdf" />
    </object>
  </div>

  <div ng-show="dc_check">
    <object data="medias/dc.pdf" type="application/pdf" id="pdfview">
      <embed src="medias/dc.pdf" type="application/pdf" />
    </object>
  </div>
</div>