<div class="row">
  <h4><B>2014 travail de Bachelor à l'HES-SO de Fribourg:</B> Système de surveillance à distance de ruche</h4>
</div>
<div class="row">
<div class="col-lg-3 col-md-3"><img class="img-responsive" src="medias/beemon.jpg"> </img></div>
<div class="col-lg-9 col-md-9">
  <div class="row">
    Lors de ma dernière de formation d'ingénieur IT j'ai développé , dans le contexte les projets de semestre et de Bachelor, un système de surveillance de ruche à distance ( BEEMON 1&2&3).Ce projet était motivé par le besoin de comprendre l'effrondrement des colonies d'abeilles dans le monde entier, mais également de fournir un outil d'aide à la production.Il a fallu donc imaginer un système flexible visant à la fois la communité scientifique, et les apiculteurs
</div>
  </br>
 
  <div class="row">
    <p>Afficher rapport
      <input type="checkbox" ng-model="digger_recommandation_check">
    </p>
    <p>télécharger code
      <input type="checkbox" ng-model="digger_projets_check">
    </p>

	 <p>Afficher outils et compétences utilisés
      <input type="checkbox" ng-model="digger_ck">
    </p>
  </div>
</div>
<div class="row">
  <div ng-show="digger_recommandation_check">
    <object data="medias/Digger/Recommandation.pdf" type="application/pdf" id="pdfview">
      <embed src="medias/Digger/Recommandation.pdf" type="application/pdf" />
    </object>
  </div>
</div>
<div class="row">
  <div ng-show="digger_projets_check">
    <div class="row">
      <h4>Réalisations</h4>
Le système était décomposé en 3 sous systèmes qui assuraient respectivement de collecter des mesures sur les ruches, de les transmettres via Bluetooth Low Energy à un un noeud intermédiaire qui s'occuper de relier l'exploitation à un serveur distant grâce au GSM/GPRS, et de fournir à l'utilisateur une interface Web pour la consultation des mesures et la configuration des systèmes. La communication était bi-directionnel.
      <br>
    </div>
    <div class="row">
      <h4>Résumés réalisations</h4>
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading"> <a href="https://www.roboticsforgood.ae/finals/dome-project"><strong>Capteur bluetooth Low Energy</strong></a> </div>
          <ul class="list-group">
            <li class="list-group-item">Mesures via différents type de capteur (analogique, numérique)</li>
		
			<li class="list-group-item">Stockage temporaire</li>
				<li class="list-group-item">Envoie d'alerte à la passerelle en cas de problèmes (mesures,batterie)</li>
			<li class="list-group-item">Envoie/réception des mesures/configuration via Bluetooth Low Energy</li>
			
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading"> <a href=""><strong>Passerelle GSM/GPRS</strong></a> </div>
          <ul class="list-group">
            <li class="list-group-item"><img class="img-responsive" src="medias/Digger/rmt300_top.jpg"> </img></li>
            <li class="list-group-item">Relaie de communication (BLE-GSM/GPRS[IP]-Web] entre le serveur d'application et le capteur</li>
            <li class="list-group-item">Stockage temporaire</li>
            <li class="list-group-item">Envoie de l'alerte par SMS</li>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading"><a href=""><strong>Serveur d'application</strong></a>   </div>
          <ul class="list-group">
            <li class="list-group-item"><img class="img-responsive" src="medias/Digger/rad300_top.jpg"> </img></li>
            <li class="list-group-item">Réception des mesures et stockage dans une base de données</li>
            <li class="list-group-item">Interface utilisateur permettant de consulter graphiquement les données</li>
            <li class="list-group-item">Interface de configuration des sondes Bluetooth</li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>