<div class="row">
   <h4><B>2014 travail de Bachelor à l'HES-SO de Fribourg:</B> Système de surveillance à distance de ruche</h4>
</div>
<div class="row">
   <div class="col-lg-3 col-md-3" ng-init="bachelor_logo = 'medias/bachelor/beemon_logo.jpg'"><img class="img-responsive" ng-src="{{bachelor_logo}}"> </img></div>
   <div class="col-lg-9 col-md-9">
      <div class="row">
         Lors de ma dernière année de Bachelor d’ingénieur IT j'ai développé, dans le contexte des projets de semestre et de Bachelor, un système de surveillance de ruche à distance ( BEEMON 1&2&3).
         Ce système a été conçu de manière à pouvoir être utiliser par des scientifiques afin qu’ils puissent mieux comprendre le phénomène d’effondrement des colonies d’abeilles à travers le monde,
         et d’être également utiliser par les apicultures afin d’optimiser les processus de production.
      </div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <ul>
               <li>
                  <p>Recommandation (experts projet)  <input type="checkbox" ng-model="Bachelor_recommandation"></p>
               </li>
               <li>
                  <p>Outils et compétences utilisés     <input type="checkbox" ng-model="Bachelor_skills_tools"></p>
               </li>
               <li>
                  <p>Réalisation (code disponible à télécharger)   <input type="checkbox" ng-model="Bachelor_realisation"></p>
               </li>
            </ul>
         </div>
         <div class="col-lg-6 col-md-6">
            <div ng-show="Bachelor_recommandation">
               <ul>
                  <li> Gachet Daniel:      +41 26 429 67 49  daniel.gachet@hefr.ch</br></li>
                  <li>François Buntschu:  +41 26 429 65 79  francois.buntschu@hefr.ch</li>
               </ul>
            </div>
            <div ng-show="Bachelor_realisation">
               <ul>
                  <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span><a href="https://github.com/Gerstein-Liam/beemon">  Code sur GIT-HUB  </a>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div ng-show="Bachelor_skills_tools">
   <div class="row">
      <h4>Outils et compétences</h4>
      
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <a href="https://www.roboticsforgood.ae/finals/dome-project"><strong>Electronique</strong></a> </div>
            <ul class="list-group">
               <li class="list-group-item">Dévelloppement d'une communication bidirectionnelle à travers des noeuds Bluetooth Low Energy , GSM/GPRS [IP]</li>
               <li class="list-group-item">Dévelloppement embarqué en C et Bluegiga script</li>
               <li class="list-group-item">Mise en place du serveur d'application</li>
               <li class="list-group-item">Développement Web en HTML, CSS, Javascript , PHP, MySQL</li>
               <li class="list-group-item">Conception électronique (non produit) du capteur Bluetooth </li>
               </li>
            </ul>
         </div>
     
   </div>
</div>
<div ng-show="Bachelor_realisation">
   <div class="row">
      <h4>Réalisations</h4>
      Le système était décomposé en 3 sous systèmes qui assuraient respectivement de collecter des mesures sur les ruches, de les transmettres via Bluetooth Low Energy à un un noeud intermédiaire qui s'occuper de relier l'exploitation à un serveur distant grâce au GSM/GPRS, et de fournir à l'utilisateur une interface Web pour la consultation des mesures et la configuration des systèmes. La communication était bi-directionnel.
      <br>
      <img class="img-responsive" src="medias/bachelor/beemon_manuel.png"> </img>
   </div>
   <div class="row">
      <h4>Résumés réalisations</h4>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"> <strong>Capteur bluetooth Low Energy</strong> </div>
            <ul class="list-group">
               <li class="list-group-item">Mesures via différents type de capteur (analogique, numérique)</li>
               <li class="list-group-item">Stockage temporaire</li>
               <li class="list-group-item">Envoie d'alerte à la passerelle en cas de problèmes (mesures,batterie)</li>
               <li class="list-group-item">Envoie/réception des mesures/configuration via Bluetooth Low Energy</li>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"><strong>Passerelle GSM/GPRS</strong></div>
            <ul class="list-group">
               <li class="list-group-item">Relaie de communication (BLE-GSM/GPRS[IP]-Web] entre le serveur d'application et le capteur</li>
               <li class="list-group-item">Stockage temporaire</li>
               <li class="list-group-item">Envoie de l'alerte par SMS</li>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default text-center">
            <div class="panel-heading"><strong>Serveur d'application</strong>  </div>
            <ul class="list-group">
               <li class="list-group-item">Réception des mesures et stockage dans une base de données</li>
               <li class="list-group-item">Interface utilisateur permettant de consulter graphiquement les données</li>
               <li class="list-group-item">Interface de configuration des sondes Bluetooth</li>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>