<div class="row">
   <h4><B>2015-2016 Voyage :</B> Thailande et Laos</h4>
</div>
<div class="row">
   <div class="col-lg-3 col-md-3" ng-init="laos_logo = 'medias/hobbys/laos.jpg'"><img class="img-responsive" ng-src="{{laos_logo}}"> </img></div>
   <div class="col-lg-9 col-md-9">
      <div class="row">
        trhailande de manière à pouvoir être utiliser par des scientifiques afin qu’ils puissent mieux comprendre le phénomène d’effondrement des colonies d’abeilles à travers le monde,
         et d’être également utiliser par les apicultures afin d’optimiser les processus de production.
      </div>
      </br>
      <div class="row">
         <div class="col-lg-6 col-md-6">
           
         </div>
         <div class="col-lg-6 col-md-6">
          
		  
         </div>
      </div>
   </div>
</div>



</div>
